.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  align-items: center;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.product-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.product-info {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.product-info h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
}

.product-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}


.product-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  width: 100%;
}

.product-quantity-container button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.product-quantity-container button:hover {
  background-color: #f0f0f0;
}

.product-quantity-container p {
  margin: 0;
  font-size: 1.1rem;
  color: #444;
}

@media (max-width: 600px) {
  .product-card {
    flex-direction: column;
  }
  .product-image {
    border-radius: 8px 8px 0 0;
  }
  .product-info {
    align-items: center;
    text-align: center;
  }
  .product-quantity-container{
    width: 100%;
    justify-content: center;
  }
}